@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import url("https://use.typekit.net/zfn2ddo.css");

// Variables
$dark-pink: #BF5950; 
$light-grey: #BDBFBE; 
$light-pink: #D9B4B7; 
$dark-green: #548C82; 
$teal: #52AEA0; 
$dark-blue: #214E69;
$blue-grey: #627D8E; 
$coral: #F28980; 
$dark-red: #720202;
$lightish-grey: #595959; 
$mobile-view: 756px;
$tablet-view: 1023px;

// Bulma Variables
$navbar-background-color: $grey-darker;
$body-background-color: $dark-pink;
$family-primary: freight-sans-condensed-pro, sans-serif;
$navbar-item-hover-color: $teal;  
$navbar-item-hover-background-color: $lightish-grey;
$navbar-burger-color: $coral;
$navbar-item-active-color: $teal;
$title-family: fairwater-script, sans-serif; 
$button-background-color: $dark-pink;
$button-color: $teal;  
$button-hover-color: lighten($color: $teal, $amount: 10); 
$button-family: voltage, sans-serif; 
$button-border-color: none; 
$button-hover-border-color: none;
$title-color: $dark-pink; 
$link-hover: $coral; 


// Boilerplate
#wrapper {
    height: $desktop;
}

#nameLogo {
        font-family: lust-script-display, sans-serif;
        font-weight: 400;
        color: $dark-pink; 
        margin: 1rem 0  1rem 0.3em; 
        line-height: 50px;
        font-size: 4em;
        -webkit-text-stroke: 1px lighten($color: $dark-pink, $amount: 10); 
    }


.navbar {
    .navbar-end a {
        margin-right: 1em;
        color: $coral;
        font-family: $family-primary;
        font-size: 1.5em;
    }
}

#mobile {
    #navMenu a {
        color: $coral;
        font-family: $family-primary;
        text-align: center;
        font-size: 1.25em;
    }
    
    .navbar-burger {
        color: $coral;
    }
         
    .is-active {
        color: $teal; 
    }
    $navbar-item-active-color: $teal;  
    $navbar-item-hover-color: $teal;
     
}

#tablet {
    #tabletLogo {
        font-family: lust-script-display, sans-serif;
        font-weight: 400;
        color: $dark-pink; 
        margin: 1rem;  
        margin-top: 0.5em;
        line-height: 38px;
        font-size: 3em;
        -webkit-text-stroke: 1px lighten($color: $dark-pink, $amount: 10); 
    }
    .navbar-item { 
        margin-right: 1em;
        color: $coral;
        font-family: $family-primary;
        font-size: 1.5em;
    }
    $navbar-item-hover-color: $teal;
    $navbar-item-active-color: $teal;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: $grey-darker;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em; 
   .subtitle, p {
    color: lighten($color: $lightish-grey, $amount: 10);
   }
    #nameLogo {
        font-size: 2em;
        line-height: 26px;
    }
    a {
        color: $dark-pink;
    }
    .navbar-menu {
      margin: auto 0;
      padding: 1em;
      width: 20%;
      
    }
}

.vl {
    border-left: 1px solid $dark-pink;
}

// Contact 
#contact-page {
   background-color: $teal;
   padding-top: 0.2em;
   margin-top: 2em;  
    #contact-title {
    margin-top: 0.5em; 
    font-size: 4em;
    color: $dark-pink;
    
    .help {
        font-family: $family-primary;
        font-size: 20px;
    }
}
    #contact-form {
        width: 50%;
        margin: auto;
    
    }
    #contact-info {
        text-align: center;
        
        .subtitle a {
            color: $dark-pink;
            $link-hover: $teal; 
        }
    }
   
}

// Resume

#resume-info {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em; 
    .menu-label {
        font-weight: 600;
        padding-bottom: 0;
        margin-bottom: 0.1em; 
        font-size: 1.5em; 
        color: lighten($color: $dark-pink, $amount: 5);
    }
    .panel-tabs {
        background-color: $teal;
        margin: 0 auto;
        margin-bottom: 0;
        border: none;
        width: 50%;
         a {
            color: $dark-pink;
            font-size: 1em;
            font-size: large; 
            font-family: $family-primary;
            font-weight: 600;
            :hover {
                color: $coral;
            }
         }
    }
    .panel-block {
        background-color: $teal;
        width: 50%;
        margin: 0 auto;
        margin-top: -0.5em;
        padding: 1em;
        p {
            color: white;
            font-family: frieght-sans-pro, sans-serif;
            font-weight: 300;
        }
    }
}

// Mobile View Media Query
@media screen and (max-width: $mobile-view) {
    .navbar {
        #nameLogo {
            text-align: center;
        }
        .navbar-burger {
            margin: 0 auto;
        }
    }
    #contact-page{
        #contact-form {
        width: 80%; 
    }
        #contact-title {
            font-size: 3em;
            .help {
                font-size: 0.35em;
            }
        }
    }
    #wrapper {
        height: $tablet;
    }
} 


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";